<template>
    <div id="container">
        <div id="register">
            <div class="row image-register" style="margin: 0px;">
                <div class="col s12 m5 l5">
                    <div
                        style="overflow: hidden; opacity: 0.0; width: 1266px;height: 1038px;"
                        class="card z-depth-5"
                    >
                        <div class="card-content" style="height: -webkit-fill-available;">
                            <div style="overflow: hidden; position: absolute;">
                                <div
                                    id="map2"
                                    style="border: 1px solid; height: 1000px; width: 1200px;"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m7 l7 animated fadeInLeft" v-show="step1">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div style="border-radius: 2px" class="card z-depth-5">
                                <div class="card-content" style="height: -webkit-fill-available;">
                                    <h4
                                        style="font-family: Roboto"
                                        class="titulos center-align"
                                    >QUEREMOS SABER MAS DE TI.</h4>
                                    <div class="row" style="margin-top: 12%;">
                                        <div class="row" style="margin-bottom: 40px;">
                                            <div class="input-field col s6 m6 l6">
                                                <input
                                                    id="first_name"
                                                    name="first_name"
                                                    type="text"
                                                    class="validate"
                                                    v-model="userName"
                                                >
                                                <label for="first_name">Nombre</label>
                                            </div>
                                            <div class="input-field col s6 m6 l6">
                                                <input
                                                    id="last_name"
                                                    name="last_name"
                                                    type="text"
                                                    class="validate"
                                                    v-model="userlastName"
                                                >
                                                <label for="last_name">Apellidos</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 40px;">
                                            <div class="input-field col s6 m6 l6">
                                                <input
                                                    id="phone"
                                                    name="phone"
                                                    type="text"
                                                    class="validate"
                                                    v-model="userPhone"
                                                >
                                                <label for="phone">Telefono</label>
                                            </div>
                                            <div class="input-field col s6 m6 l6">
                                                <input
                                                    id="email"
                                                    name="email"
                                                    type="email"
                                                    class="validate"
                                                    v-model="userMail"
                                                >
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 40px;">
                                            <div class="input-field col s6 m6 l6">
                                                <input
                                                    id="pass"
                                                    name="pass"
                                                    type="password"
                                                    class="validate"
                                                    v-model="userPass"
                                                >
                                                <label for="pass">Contraseña</label>
                                            </div>
                                            <div class="input-field col s6 m6 l6">
                                                <input
                                                    id="pass2"
                                                    name="pass2"
                                                    type="password"
                                                    class="validate"
                                                    v-model="userPass2"
                                                >
                                                <label for="pass2">Confirmar Contraseña</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20%;">
                                        <div class="col s12 m6 l6"></div>
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="step('2');"
                                                style="width: 100%;"
                                            >Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m7 l7 animated fadeInLeft" v-show="step2">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card z-depth-5">
                                <div class="card-content" style="height: -webkit-fill-available;">
                                    <h4 class="titulos center-align">INGRESA TU MARCA REGISTRADA.</h4>
                                    <div class="row" style="margin-top: 20%; margin-bottom: 30%;">
                                        <div class="row" style="margin-bottom: 40px;">
                                            <div class="input-field col s12 m12 l12">
                                                <input
                                                    id="brand_name"
                                                    name="brand_name"
                                                    type="text"
                                                    class="validate"
                                                    v-model="brandName"
                                                >
                                                <label for="brand_name">Nombre</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="step('1');"
                                                style="width: 100%;"
                                            >Regresar</button>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="step('3');"
                                                style="width: 100%;"
                                            >Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m7 l7 animated fadeInLeft" v-show="step3">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card z-depth-5" style="overflow: hidden;">
                                <div class="card-content" style="height: -webkit-fill-available;">
                                    <h4 class="titulos center-align">DATOS DEL COLEGIO.</h4>
                                    <div class="row">
                                        <div class="input-field col s12 m6 l6">
                                            <input
                                                id="pac-input"
                                                placeholder="Buscar..."
                                                type="text"
                                                class="validate"
                                                @keyup="keymonitor"
                                            >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div
                                            id="contenido_mapa"
                                            style="height: 500px;width: 600px;"
                                            class="col s12 m12 l12"
                                        ></div>
                                    </div>
                                    <div class="row">
                                        <div class="row">
                                            <div class="input-field col s12 m12 l12">
                                                <input
                                                    id="branch_name"
                                                    placeholder=" "
                                                    name="branch_name"
                                                    type="text"
                                                    class="validate"
                                                    v-model="newBranchName"
                                                >
                                                <label
                                                    for="branch_name"
                                                >Nombre del Colegio o Institución</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 m12 l12">
                                                <input
                                                    id="branch_address"
                                                    placeholder=" "
                                                    name="branch_address"
                                                    type="text"
                                                    class="validate"
                                                    v-model="newBranchaddress"
                                                >
                                                <label for="branch_address">Dirección</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="step('2');"
                                                style="width: 100%;"
                                            >Regresar</button>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="step('4');"
                                                style="width: 100%;"
                                            >Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m7 l7 animated fadeInLeft" v-show="step4">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card z-depth-5">
                                <div class="card-content" style="height: -webkit-fill-available;">
                                    <h4
                                        class="titulos center-align"
                                    >MUY BIEN! AHORA CONFIRMA TUS DATOS.</h4>
                                    <div class="row" style="margin-top: 20%; margin-bottom: 20%;">
                                        <div class="col s12 m12 l12">
                                            <div class="card z-depth-2">
                                                <div class="card-content">
                                                    <h4>{{newBranchName}}</h4>
                                                    <hr>
                                                    <h4>Usuario: {{userMail}}</h4>
                                                    <h4>Administrador:{{userName+" "+userlastName}}</h4>
                                                    <hr>
                                                    <p>Direccion:{{newBranchaddress}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="step('3');"
                                                style="width: 100%;"
                                            >Regresar</button>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <button
                                                class="waves-effect waves-dark btn-large a-hov"
                                                @click="captureimg();"
                                                style="width: 100%;"
                                            >Registrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    require("../../assets/js/html2canvas.js")
    var url = "http://skolable.us-west-2.elasticbeanstalk.com";//production
    var environment = "P";//production
    export default {
        data() {
            return {
                step1: true,
                step2: false,
                step3: false,
                step4: false,
                //user data
                userName: '',
                userlastName: '',
                userPhone: '',
                userMail: '',
                userPass: '',
                userPass2: '',
                //Brand
                brandName: '',
                //branch data
                newmap: '',
                geocoder: '',
                lat_Newbranch: '',
                lng_Newbranch: '',
                lat_Map: '',
                lng_Map: '',
                zoom: '',
                newBranchName: '',
                newBranchaddress: '',
                newBranchTimezone: '',
                newBranchimg: '',
                markers: [],
                mapcreated: false,
            }
        },
        methods: {
            step: function (number) {
                if (number == "1") {
                    this.step1 = this.step2 = this.step3 = this.step4 = false;
                    this.step1 = true;
                }
                if (number == "2") {
                    if (this.validateFormUser()) {
                        this.step1 = this.step2 = this.step3 = this.step4 = false;
                        this.step2 = true;
                    }
                }
                if (number == "3") {
                    this.step1 = this.step2 = this.step3 = this.step4 = false;
                    this.step3 = true;
                    if (this.mapcreated == false) {
                        this.initMap();
                    }

                }
                if (number == "4") {
                    this.step1 = this.step2 = this.step3 = this.step4 = false;
                    this.step4 = true;
                }
            },
            initMap: function () {
                var myStyles = [
                    {
                        featureType: "poi",
                        elementType: "labels",
                        stylers: [
                            { visibility: "off" }
                        ]
                    }
                ];
                var mapOptions = {
                    center: { lat: 19.702559, lng: -101.192341 },
                    scaleControl: false,
                    zoom: 15,
                    rotateControl: false,
                    mapTypeControl: false,
                    zoomControl: false,
                    streetViewControl: false,
                    fullscreenControl: false,
                    styles: myStyles
                };
                this.geocoder = new google.maps.Geocoder();
                this.newmap = new google.maps.Map(document.getElementById('contenido_mapa'), mapOptions);
                var map2 = new google.maps.Map(document.getElementById('map2'), mapOptions);

                //variables for map size and zoom
                var mapCentre = this.newmap.getCenter();
                this.lat_Map = mapCentre.lat();
                this.lng_Map = mapCentre.lng();
                this.zoom = this.newmap.getZoom();

                google.maps.event.addListener(app.newmap, "center_changed", function () {
                    //Set local storage variables.
                    mapCentre = app.newmap.getCenter();
                    app.lat_Map = mapCentre.lat();
                    app.lng_Map = mapCentre.lng();
                    app.zoom = app.newmap.getZoom();

                    map2.setZoom(app.zoom + 1)
                    map2.setCenter(mapCentre)
                });

                google.maps.event.addListener(app.newmap, "zoom_changed", function () {
                    //Set local storage variables.
                    mapCentre = app.newmap.getCenter();
                    app.lat_Map = mapCentre.lat();
                    app.lng_Map = mapCentre.lng();
                    app.zoom = app.newmap.getZoom();
                    map2.setZoom(app.zoom + 1)
                    map2.setCenter(mapCentre)
                });

                google.maps.event.addListener(app.newmap, 'click', function (event) {
                    app.placeMarker(app.newmap, event.latLng);
                    //app.placeMarker(map2, event.latLng);
                });
                google.maps.event.addDomListener(window, "resize", function () {
                    var center = app.newmap.getCenter();
                    google.maps.event.trigger(app.newmap, "resize");
                    app.newmap.setCenter(center);
                });
                this.mapcreated = true;
            },
            placeMarker: function (map, location) {
                this.eraseMarkers();
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                map.setCenter(location);
                map.setZoom(18);
                app.zoom = 18;
                app.markers.push(marker);
                /*var infowindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
                });
                infowindow.open(map,marker);*/
                var latlng = { lat: location.lat(), lng: location.lng() };
                this.getinfoMarker(latlng, "click");
            },
            keymonitor: function (event) {
                if (event.keyCode == 13) {
                    var address = document.getElementById('pac-input').value;
                    //borra marcas
                    this.eraseMarkers();
                    this.getinfoMarker(address, "search");
                }
            },
            getinfoMarker: function (location, from) {
                var map = this.newmap;
                if (from == "click") {
                    this.geocoder.geocode({ 'location': location }, function (results, status) {
                        if (status == 'OK') {
                            app.newBranchaddress = results[0].formatted_address;
                            app.lat_Newbranch = results[0].geometry.location.lat();
                            app.lng_Newbranch = results[0].geometry.location.lng();
                            app.getTimeZone("true");
                        } else {
                            alert('no se encontro nada');
                        }
                    });
                }
                if (from == "search") {
                    this.geocoder.geocode({ 'address': location }, function (results, status) {
                        if (status == 'OK') {
                            app.newBranchaddress = results[0].formatted_address;
                            app.lat_Newbranch = results[0].geometry.location.lat();
                            app.lng_Newbranch = results[0].geometry.location.lng();

                            var position = new google.maps.LatLng(app.lat_Newbranch, app.lng_Newbranch);
                            app.markers.push(new google.maps.Marker({
                                map: map,
                                position: position
                            }));
                            map.setCenter(position);
                            map.setZoom(18);
                            app.zoom = 18;
                            app.getTimeZone("true");
                        } else {
                            alert('no se encontro nada');
                        }
                    });
                }
            },
            eraseMarkers: function () {
                this.markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                this.markers = [];
            },
            getTimeZone: function (sensor) {
                var timestamp = (Math.round((new Date().getTime()) / 1000)).toString();
                var timezone_url = "https://maps.googleapis.com/maps/api/timezone/json?location=" + this.lat_Newbranch + "," + this.lng_Newbranch + "&timestamp=" + timestamp + "&sensor=" + sensor;
                this.$http.get(timezone_url)
                    .then(function (response) {
                        if (response.body.status != "OK") {
                            app.getTimeZone("false");
                        } else {
                            app.newBranchTimezone = response.body.timeZoneId;
                        }
                    });
            },
            captureimg: function () {
                this.$swal({
                    title: 'Creando nuevo registro',
                    text: 'Espere un momento...'
                });
                this.$swal.showLoading();

                var transform = $(".gm-style>div:first>div").css("transform")
                var comp = transform.split(",") //split up the transform matrix
                var mapleft = parseFloat(comp[0]) //get left value
                var maptop = parseFloat(comp[0])  //get top value
                $(".gm-style>div:first>div").css({ //get the map container. not sure if stable
                    "transform": "none",
                    "left": mapleft,
                    "top": maptop,
                })
                var tempImageThumb = $('#map2');
                html2canvas([tempImageThumb.get(0)], {
                    useCORS: true,
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL("image/png");
                        var img = document.createElement('img');
                        img.src = data;
                        data = data.replace(/^data:image\/(png|jpg);base64,/, "");
                        app.newBranchimg = data;
                        console.log(app.newBranchimg);
                        app.register();
                    }
                });
            },
            validateFormUser: function () {
                var flag = true;
                var msg = "";
                if (this.userName == '') {
                    msg += "-Nombre<br>";
                    flag = false;
                }
                if (this.userlastName == '') {
                    msg += "-Apellidos<br>";
                    flag = false;
                }
                if (this.userPhone == 0) {
                    msg += "-Telefono<br>";
                    flag = false;
                }
                if (!this.validateEmail(this.userMail)) {
                    msg += "-Email no tiene formato correcto<br>";
                    flag = false;
                }
                if (this.userPass != this.userPass2) {
                    msg += "-Contraseñas no coinciden<br>";
                    flag = false;
                }
                if (this.userPass == '' || this.userPass2 == '') {
                    msg += "-Contraseñas no se pueden dejar vacias<br>";
                    flag = false;
                }

                if (flag == false) {
                    this.$swal({
                        type: 'error',
                        title: 'Atencion...Faltan datos',
                        html: msg,
                    })
                    flag = false;
                } else {
                    flag = true;
                }
                return flag;
            },
            validateEmail: function (email) {
                var emailReg = /^([\w\.\+]{1,})([^\W])(@)([\w]{1,})(\.[\w]{1,})+$/;
                return emailReg.test(email);
            },
            register: function () {
                var brand = {
                    "name": this.brandName,
                    "address": " ",
                    "description": " ",
                    "phone": this.userPhone,
                    "branch": {
                        "name": this.newBranchName,
                        "address": this.newBranchaddress,
                        "timezone": this.newBranchTimezone,
                        "map": this.newBranchimg,
                        "markLatitude": this.lat_Newbranch,
                        "markLongitude": this.lng_Newbranch,
                        "latitude": this.lat_Map,
                        "longitude": this.lng_Map,
                        "zoom": this.zoom
                    }
                };
                var json = JSON.stringify(brand); // aqui tienes la lista de objetos en Json
                var obj = JSON.parse(json);
                this.$http.post(url + "/login/create", obj, {                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'userType': 'W',
                        'environment': environment,
                        'gadgetType': 'I',
                    }
                })
                    .then(function (response) {
                        app.registerfirstUser(response.data.entity.branch.id)
                    }, function (error) {

                    });
            },
            registerfirstUser: function (id) {
                var user = {
                    "firstName": this.userName,
                    "lastName": this.userlastName,
                    "password": this.userPass,
                    "mail": this.userMail
                };
                var json = JSON.stringify(user); // aqui tienes la lista de objetos en Json
                var obj = JSON.parse(json);
                this.$http.post(url + "/login/register?id=" + id, obj, {                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'userType': 'W',
                        'environment': environment,
                        'gadgetType': 'I',
                    }
                })
                    .then(function (response) {
                        if (response.data.code == 201) {
                            this.$swal({
                                title: 'Exito',
                                text: "Se ha completado el registro correctamente",
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = "login.html";
                                }
                            })
                        }
                    }, function (error) {

                    });
            },
        }
    }
</script>
<style scoped>
    #container {
    	font-family: Roboto;
    }
    #c {
    	border-radius: 2px !important;
    }
</style>

<style src="../../assets/css/sweetalert2.css" scoped>
</style>
<style src="../../assets/css/animate.min.css" scoped>
</style>

<style src="../../assets/css/registro.css" scoped>
</stylesco>

