/*estilos para login skolable*/

body {
	background-color: #eeeeee66;
}

.image-login {
	background: url(../img/login_img.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-large {
	border-radius: 15px;
}
.button-color-modal {
	background-color: #ef5350;
}
.a-hov:hover {
	background-color: #ebd0ce !important;
}
.a-hov:focus {
	background-color: #f57d7d !important;
}
