@import "https://fonts.googleapis.com/css?family=Raleway";

/*estilos para login skolable*/

body {
	background-color: #eeeeee66;
}

.image-register {
	background: url(../img/register_img.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-large {
	border-radius: 15px;
}
.a-hov:hover {
	background-color: #ebd0ce !important;
}
.a-hov:focus {
	background-color: #f57d7d !important;
}

.breadcrumb:before {
	color: rgba(211, 204, 205, 0.86);
}

.btn,
.btn-large {
	background-color: #ef5350;
	margin-bottom: 10px;
}

.titulos {
	color: #9e9e9e;
}
button:focus {
	outline: none;
	background-color: #2196f3;
}

.btn:hover,
.btn-large:hover {
	background-color: #64b5f6;
}
