<template>
  <div>
    <!--features-->
    <section>
      <div class="row">
        <div class="col s12 m12 l12 animatedParent animateOnce">
          <h2 class="titulos center-align animated fadeIn">Características de Skolable</h2>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div
        class="row animatedParent animateOnce"
        data-sequence="500"
        style="padding-left: 10%;padding-right: 10%;"
      >
        <div class="col 12 m4 l4">
          <div class="feature-card hoverable animated fadeInUp" data-id="1">
            <div class="feature-content left-align">
              <img
                src="../../assets/img/landing_page/ICO-V2-Asistencia.png"
                style="max-height: 60px; max-width: 60px;"
              >
              <h4 class="titulos left-align flow-text">Asistencia</h4>
              <p
                class="texto left-align flow-text"
                style="font-size: 20px;"
              >Mantén el control de tus alumnos y personal para saber quien asistió, de una manera eficaz e innovadora.</p>
            </div>
          </div>
        </div>
        <div class="col 12 m4 l4">
          <div class="feature-card hoverable animated fadeInUp" data-id="2">
            <div class="feature-content left-align">
              <img
                src="../../assets/img/landing_page/FA-Autovoceo.png"
                style="max-height: 60px; max-width: 60px;"
              >
              <h4 class="titulos left-align flow-text">Voceo Automático</h4>
              <p
                class="texto left-align flow-text"
                style="font-size: 20px;"
              >Se detectará la proximidad del papá con el Cole y asi poder llamar a sus hijos para que se acerquen a la salida señalada y puedan recogerlos sin necesidad de hacer filas.</p>
            </div>
          </div>
        </div>
        <div class="col 12 m4 l4">
          <div class="feature-card hoverable animated fadeInUp" data-id="3">
            <div class="feature-content left-align">
              <img
                src="../../assets/img/landing_page/ICO-V2-Ubicacion.png"
                style="max-height: 60px; max-width: 60px;"
              >
              <h4 class="titulos left-align flow-text">Ubicación de salidas</h4>
              <p
                class="texto left-align flow-text"
                style="font-size: 20px;"
              >Gestiona las salidas dentro de tu Cole, para que los papás sepan a dónde dirigirse y así poder agilizar la entrega de sus hijos.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row animatedParent animateOnce"
        data-sequence="500"
        style="padding-left: 10%;padding-right: 10%;"
      >
        <div class="col 12 m4 l4">
          <div class="feature-card hoverable animated fadeInUp" data-id="1">
            <div class="feature-content left-align">
              <img
                src="../../assets/img/landing_page/ICO-V2-Reporte.png"
                style="max-height: 60px; max-width: 60px;"
              >
              <h4 class="titulos left-align flow-text">Análisis de alumnos y personal</h4>
              <p
                class="texto left-align flow-text"
                style="font-size: 20px;"
              >Gestiona y obtén reportes de alumnos, papás, trabajadores y visitantes que hay dentro del Cole.</p>
            </div>
          </div>
        </div>
        <div class="col 12 m4 l4">
          <div class="feature-card hoverable animated fadeInUp" data-id="2">
            <div class="feature-content left-align">
              <img
                src="../../assets/img/landing_page/ICO-V2-Indicadores.png"
                style="max-height: 60px; max-width: 60px;"
              >
              <h4 class="titulos left-align flow-text">Estadísticas Gráficas</h4>
              <p
                class="texto left-align flow-text"
                style="font-size: 20px;"
              >Visualiza de manera gráfica las asistencias y visitas en tu Cole.</p>
            </div>
          </div>
        </div>
        <div class="col 12 m4 l4">
          <div class="feature-card hoverable animated fadeInUp" data-id="3">
            <div class="feature-content left-align">
              <img
                src="../../assets/img/landing_page/ico_sync.png"
                style="max-height: 60px; max-width: 60px;"
              >
              <h4 class="titulos left-align flow-text">Sincronización de dispositivos</h4>
              <p
                class="texto left-align flow-text"
                style="font-size: 20px;"
              >Accede a los servicios de Skolable mediante los códigos QR.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <div class="parallax-container center valign-wrapper" style="margin-bottom: 50px;">
      <div class="parallax">
        <img style="display:block" src="../../assets/img/landing_page/parallax_1.jpg">
      </div>
    </div>
    <!--Video-->
    <section class="animatedParent animateOnce" style="padding-left: 10%; padding-right: 10%">
      <div class="video-container animated fadeIn">
        <iframe
          class="responsive-video"
          src="https://www.youtube.com/embed/lb-lgXPWILQ?rel=0&autoplay=0&amp;mode=opaque&amp;autohide=1&amp;showinfo=0&amp;wmode=transparent"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </div>
</template>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".parallax");
    var instances = M.Parallax.init(elems);
  });

  export default {
  }
</script>
