<template>
  <footer class="page-footer gradiente">
    <div class="container" style="width: 85%;">
      <div class="row">
        <div class="col s12 m3 l3">
          <img src="../../assets/img/0_Skolable_blanco.png" style="max-width: 200px;">
        </div>
        <div class="col s12 m4 l4">
          <h5>Contáctanos</h5>
          <ul class="footer-list">
            <li>
              <span>contacto@skolable.com</span>
            </li>
            <li>
              <span>FAQ</span>
            </li>
          </ul>
        </div>
        <div class="col s12 m4 l4">
          <h5>Información</h5>
          <ul class="footer-list">
            <li>
              <span>Acerca de</span>
            </li>
            <li>
              <span>Únete al equipo</span>
            </li>
            <li>
              <span>Politicas de privacidad</span>
            </li>
            <li>
              <span>Terminos y Condiciones</span>
            </li>
          </ul>
        </div>
        <div class="col s12 m1 l1">
          <h5>Síguenos</h5>
          <ul class="footer-list-social">
            <li>
              <a href="https://www.facebook.com/Skolable-849883188550993/" target="_blank">
                <img
                  src="https://png.icons8.com/material/50/ffffff/facebook-f.png"
                  style="max-height: 20px;"
                >
              </a>&nbsp;
              <span style="position: absolute; opacity: 0; transition: .9s ease;">FACEBOOK</span>
            </li>
            <li>
              <a href="https://www.instagram.com/skolable.app/" target="_blank">
                <img
                  src="https://png.icons8.com/ios/40/ffffff/instagram-new.png"
                  style="max-height: 20px;"
                >
              </a>&nbsp;
              <span style="position: absolute; opacity: 0; transition: .9s ease;">INSTAGRAM</span>
            </li>
            <li>
              <a href="#!">
                <img
                  src="https://png.icons8.com/metro/50/ffffff/twitter.png"
                  style="max-height: 20px;"
                >
              </a>&nbsp;
              <span style="position: absolute; opacity: 0; transition: .9s ease;">PROXIMAMENTE</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr style="margin-left:5%; margin-right:5%;">
    <div class="footer-copyright" style="font-size: 10pt;">
      <div class="container center-align">© Skolable 2018 | Derechos reservados
        <a id="swipe_link" href="http://kiritek.com/" target="_blank">kiritek</a>| Desarrollado por
        <a id="swipe_link" href="http://www.swipeapps.io/" target="_blank">Swipe Apps</a>
      </div>
    </div>
  </footer>
</template>

<script>

</script>

