<template>
  <div>
    <navbar></navbar>
    <slide></slide>
    <br>
    <what-it-is></what-it-is>
    <br>
    <features></features>
    <br>
    <br>
    <br>
    <foot></foot>
  </div>
</template>

<script>
  require("./../../assets/js/materialize.js");
  require("./../../assets/js/hammerjs.js");
  import Navbar from "./Navbar.vue";
  import Slide from "./Slide.vue";
  import WhatItIs from "./WhatItIs";
  import Features from "./Features";
  import Footer from "./Footer";

  export default {
    mounted() {
      require("../../assets/js/landing_page/css3-animate-it.js");
    },
    components: {
      navbar: Navbar,
      slide: Slide,
      whatItIs: WhatItIs,
      features: Features,
      foot: Footer
    }
  };
</script>
<style scoped>
  @import url("../../assets/css/landing_page/latofonts.css");
</style>

