<template>
  <div>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper white">
          <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only">
            <i class="material-icons" style="color:#9c27b0;">menu</i>
          </a>
          <a href="#" class="brand-logo center">
            <img
              style="height: 40px; margin-top: 10px; margin-left: 10px;"
              src="../../assets/img/0_Skolable.png"
            >
          </a>
          <ul class="right hide-on-med-and-down">
            <li class="li_register">
              <router-link to="/registro" style="color: #ec555c;transition: .4s ease;">Registrate</router-link>
            </li>
            <li class="li_register">
              <router-link to="/login" style="color: #ec555c;transition: .4s ease;">Iniciar Sesión</router-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ul id="slide-out" class="side-nav">
      <li>
        <h5
          class="titulos gradiente valign-wrapper"
          style="padding-left: 10%; color:#ffffff !important; height:3em; margin:0;"
        >Menu</h5>
      </li>
      <li>
        <router-link to="/registro" style="color: #ec555c;font-size: 15px;">Registrate</router-link>
      </li>
      <li>
        <router-link to="/login" style="color: #ec555c;font-size: 15px;">Iniciar Sesión</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        loginFlag: false,
        registerFlag: false
      };
    },
    mounted: function () {
      $(".button-collapse").sideNav({
        menuWidth: 300, // Default is 300
        edge: "left", // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens
      });
    },
    methods: {
    }
  };
</script>