<template>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="../../assets/img/landing_page/slides_1,1.jpg">
        <div id="skolable_slogan" class="caption center-align" style="margin-top: 32em;">
          <h3>Menos tiempo en fila, más con tu familia.</h3>
        </div>
      </li>
      <li>
        <img src="../../assets/img/landing_page/slides_2,2.jpg">
        <div class="caption left-align">
          <h2>Innovación</h2>
          <h4>Tecnología a tu favor dentro del aula.</h4>
        </div>
      </li>
      <li>
        <img src="../../assets/img/landing_page/slides_3,3.jpg">
        <div class="caption right-align">
          <h2>Seguridad</h2>
          <h4>Registro de acceso al Cole fácil y rápido.</h4>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".slider");
    var instances = M.Slider.init(elems);
  });
</script>
