<template>
  <div>
    <!--what is -->
    <section class="hide-on-small-only" style="background-color: #F7F9FC;">
      <div class="row">
        <div class="col s12 m12 l12 animatedParent animateOnce">
          <h1 class="titulos center animated fadeIn">¿Qué es Skolable?</h1>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row valign-wrapper">
        <div class="col m1 l1"></div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset="-100">
          <h4
            class="titulos left-align animated bounceInLeft"
          >!Entrega segura y eficiente de alumnos en los Coles!</h4>
          <br>
          <p
            class="texto left-align flow-text animated bounceInLeft"
          >Los papás podrán solicitar a sus hijos antes de salir de su casa u oficina y Skolable se encargará del resto.
            <br>Olvídate de las filas, ya que nuestra solución identifica cuando el papá está próximo a llegar para que el alumno esté listo en puerta, todo esto a través de sus dispositivos móviles.
          </p>
        </div>
        <div
          class="col s12 m4 l4 center-align animatedParent animateOnce"
          data-appear-top-offset="-100"
        >
          <img
            class="img-responsive animated bounceInRight"
            src="../../assets/img/landing_page/sk-entrega.png"
            style="width: 100%;"
          >
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!--<div class="row valign-wrapper" style="display: none;">
          <div class="col m1 l1"></div>
          <div class="col s12 m4 l4 center-align animatedParent animateOnce" data-appear-top-offset='-100'>
            <img class="img-responsive animated bounceInLeft" src="img/landing_page/sk-facial.png" style="width: 100%;">
          </div>
          <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset='-100'>
            <h4 class="titulos left-align animated bounceInRight">Asistencia por Reconocimiento.</h4>
            <br>
            <p class="texto left-align flow-text animated bounceInRight">Innova y toma asistencia de los alumnos y trabajadores del Cole mediante el reconocimiento facial que nuestra aplicación te ofrece.
            </p>
          </div>
          <div class="col m1 l1"></div>
        </div>
      <br><br><br><br><br><br><br><br>-->
      <div class="row valign-wrapper">
        <div class="col m1 l1"></div>
        <div
          class="col s12 m4 l4 center-align animatedParent animateOnce"
          data-appear-top-offset="-100"
        >
          <img
            class="img-responsive animated bounceInLeft"
            src="../../assets/img/landing_page/sk-ronda.png"
            style="width: 100%;"
          >
        </div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset="-100">
          <h4
            class="titulos left-align animated bounceInRight"
          >Gestión de rondas para recoger alumnos.</h4>
          <br>
          <p
            class="texto left-align flow-text animated bounceInRight"
          >Los papás podrán organizarse por turnos para recoger a sus hijos, esto ayuda a disminuir la afluencia vehicular y contribuir con el medio ambiente.</p>
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row valign-wrapper">
        <div class="col m1 l1"></div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset="-100">
          <h4 class="titulos left-align animated bounceInLeft">Control de Visitantes por QR.</h4>
          <br>
          <p
            class="texto left-align flow-text animated bounceInLeft"
          >Gestiona el acceso de tus visitantes a través de un código QR para agilizar el flujo al Cole, además de hacer un entorno más seguro para alumnos y personal.</p>
        </div>
        <div
          class="col s12 m4 l4 center-align animatedParent animateOnce"
          data-appear-top-offset="-100"
        >
          <img
            class="img-responsive animated bounceInRight"
            src="../../assets/img/landing_page/sk-qr.png"
            style="width: 100%;"
          >
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </section>
    <!--what is movil-->
    <section class="hide-on-med-and-up" style="background-color: #F7F9FC;">
      <div class="row">
        <div class="col s12 m12 l12 animatedParent animateOnce">
          <h1 class="titulos center-align animated fadeIn">¿Qué es Skolable?</h1>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col m1 l1"></div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset="-100">
          <h4
            class="titulos left-align animated bounceInLeft"
          >!Entrega segura y eficiente de alumnos en los Coles!</h4>
          <br>
          <p
            class="texto left-align flow-text animated bounceInLeft"
          >Los papás podrán solicitar a sus hijos antes de salir de su casa u oficina y Skolable se encargará del resto.
            <br>Olvídate de las filas, ya que nuestra solución identifica cuando el papá está próximo a llegar para que el alumno esté listo en puerta, todo esto a través de sus dispositivos móviles.
          </p>
        </div>
        <div
          class="col s12 m4 l4 center-align animatedParent animateOnce"
          data-appear-top-offset="-100"
        >
          <img
            class="img-responsive animated bounceInRight"
            src="../../assets/img/landing_page/sk-entrega.png"
            style="width: 100%;"
          >
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br>
      <br>
      <!--<div class="row">
        <div class="col m1 l1"></div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset='-100'>
          <h4 class="titulos left-align animated bounceInLeft">Asistencia por Reconocimiento.</h4>
          <br>
          <p class="texto left-align flow-text animated bounceInLeft">Innova y toma asistencia de los alumnos y trabajadores del Cole mediante el reconocimiento facial que nuestra aplicación te ofrece.
          </p>
        </div>
        <div class="col s12 m4 l4 center-align animatedParent animateOnce" data-appear-top-offset='-100'>
          <img class="img-responsive animated bounceInRight" src="img/landing_page/sk-facial.png" style="width: 100%;">
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br><br>-->
      <div class="row">
        <div class="col m1 l1"></div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset="-100">
          <h4
            class="titulos left-align animated bounceInLeft"
          >Gestión de rondas para recoger alumnos.</h4>
          <br>
          <p
            class="texto left-align flow-text animated bounceInLeft"
          >Los papás podrán organizarse por turnos para recoger a sus hijos, esto ayuda a disminuir la afluencia vehicular y contribuir con el medio ambiente.</p>
        </div>
        <div
          class="col s12 m4 l4 center-align animatedParent animateOnce"
          data-appear-top-offset="-100"
        >
          <img
            class="img-responsive animated bounceInRight"
            src="../../assets/img/landing_page/sk-ronda.png"
            style="width: 100%;"
          >
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col m1 l1"></div>
        <div class="col s12 m6 l6 animatedParent animateOnce" data-appear-top-offset="-100">
          <h4 class="titulos left-align animated bounceInLeft">Control de Visitantes por QR.</h4>
          <br>
          <p
            class="texto left-align flow-text animated bounceInLeft"
          >Gestiona el acceso de tus visitantes a través de un código QR para agilizar el flujo al Cole, además de hacer un entorno más seguro para alumnos y personal.</p>
        </div>
        <div
          class="col s12 m4 l4 center-align animatedParent animateOnce"
          data-appear-top-offset="-100"
        >
          <img
            class="img-responsive animated bounceInRight"
            src="../../assets/img/landing_page/sk-qr.png"
            style="width: 100%;"
          >
        </div>
        <div class="col m1 l1"></div>
      </div>
      <br>
      <br>
    </section>
  </div>
</template>

<script>
  export default {
  };
</script>

