/*@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css";
@import "https://fonts.googleapis.com/css?family=Raleway";*/

/*estilos para  landing Page*/
body {
  padding-top: 65px;
  overflow-x: hidden !important;
}
.li_register:hover{
  background: rgba(239,86,91,1);
  background: -moz-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,86,91,1)), color-stop(100%, rgba(81,46,111,1)));
  background: -webkit-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: -o-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: linear-gradient(to right, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef565b', endColorstr='#512e6f', GradientType=1 );
}
.li_register:hover>a{
  color: #ffffff !important;
}
.titulos{
  color:#512E6F;
  font-family: 'LatoWebBold'; 
  font-style: normal;
}
.texto{
  font-family: 'LatoWebThin';
  font-style: normal;
  font-weight: bold;
}
.feature-card{
  border-radius: 10px;
}
.feature-content{
  padding: 24px;
}

.parallax-container {
  height: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}

.slider, .slides{
  height: 92vh !important;
  margin-bottom: 50px !important;
}
.gradiente{
  background: rgba(239,86,91,1);
  background: -moz-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,86,91,1)), color-stop(100%, rgba(81,46,111,1)));
  background: -webkit-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: -o-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  background: linear-gradient(to right, rgba(239,86,91,1) 0%, rgba(81,46,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef565b', endColorstr='#512e6f', GradientType=1 );
}

.footer-list>li>span:hover{
  border-bottom: 1px solid;
  cursor: pointer;
}

.card-action:hover{
  cursor: pointer;
  background: rgba(243,104,94,1);
  background: -moz-linear-gradient(45deg, rgba(243,104,94,1) 0%, rgba(243,104,94,1) 8%, rgba(206,59,147,1) 65%, rgba(182,73,146,1) 72%, rgba(107,5,158,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(243,104,94,1)), color-stop(8%, rgba(243,104,94,1)), color-stop(65%, rgba(206,59,147,1)), color-stop(72%, rgba(182,73,146,1)), color-stop(100%, rgba(107,5,158,1)));
  background: -webkit-linear-gradient(45deg, rgba(243,104,94,1) 0%, rgba(243,104,94,1) 8%, rgba(206,59,147,1) 65%, rgba(182,73,146,1) 72%, rgba(107,5,158,1) 100%);
  background: -o-linear-gradient(45deg, rgba(243,104,94,1) 0%, rgba(243,104,94,1) 8%, rgba(206,59,147,1) 65%, rgba(182,73,146,1) 72%, rgba(107,5,158,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(243,104,94,1) 0%, rgba(243,104,94,1) 8%, rgba(206,59,147,1) 65%, rgba(182,73,146,1) 72%, rgba(107,5,158,1) 100%);
  background: linear-gradient(45deg, rgba(243,104,94,1) 0%, rgba(243,104,94,1) 8%, rgba(206,59,147,1) 65%, rgba(182,73,146,1) 72%, rgba(107,5,158,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3685e', endColorstr='#6b059e', GradientType=1 ); 
}

.card-action:hover>a{
  color:#ffffff !important;
}

.footer-list-social>li>a>img:hover{
  max-height: 25px !important;
}
.footer-list-social>li:hover span{
  opacity: 1 !important;
}

#swipe_link{
  color: #ffffff;
}
#swipe_link:hover{
  border-bottom: 1px solid;
}

.card{
  border-radius: 10px;
}

@media only screen and (max-width : 992px) {
   body{
      padding-top: 55px;
   }
   html,body {
    overflow-x: hidden;
  }
  .feature-card{
      border: 1px solid;
      border-color: #512e9d63;
      margin-bottom: 10px;
  }
  #skolable_slogan{
    margin-top: 15em !important;
  }
}