<template>
  <div id="app">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>
<script>

  import { eventBus } from "./main.js";
  export default {
    data() {
      return {
      };
    },
    created() {

    },
  };
</script>
<style>
  @import url("./assets/css/materialize.css");
  @import url("./assets/css/landing_page/LandingPage.css");
  @import url("./assets/css/landing_page/animations.css");
  @import url("./assets/css/landing_page/latostyle.css");
</style>
