<template>
  <div id="container">
    <div id="login">
      <div class="row image-login" style="height: 100vh; margin: 0px;">
        <div class="col s12 m6 l6"></div>
        <div class="col s12 m6 l6 animated fadeInLeft">
          <div class="row">
            <div class="col s12 m12 l12">
              <div id="c" class="card z-depth-5">
                <div class="card-content" style="margin-top: 3em; height: 90vh;">
                  <div class="row">
                    <div class="col s12 m12 l12 center-align">
                      <img
                        class="responsive-img"
                        style="max-height: 90px; margin-top: 10px;"
                        src="../../assets/img/0_Skolable.png"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m12 l12 center-align">
                      <p class="flow-text">
                        <b>ACCEDE A TUS SERVICIOS</b>
                      </p>
                    </div>
                  </div>
                  <div class="row hide-on-small-only" style="margin-bottom: 75px;"></div>
                  <div class="row">
                    <div class="s12 m12 l12">
                      <div class="row">
                        <div class="col m2 l2"></div>
                        <div class="input-field col s12 m8 l8">
                          <input
                            placeholder="Correo"
                            type="text"
                            class="validate"
                            v-model="loginUser"
                          >
                        </div>
                        <div class="col m2 l2"></div>
                      </div>
                      <div class="row">
                        <div class="col m2 l2"></div>
                        <div class="input-field col s12 m8 l8">
                          <input
                            placeholder="Contraseña"
                            type="password"
                            class="validate"
                            v-model="loginPass"
                            @keyup="keymonitor"
                          >
                        </div>
                        <div class="col m2 l2"></div>
                      </div>
                      <div class="row">
                        <div class="col m2 l2"></div>
                        <div class="col s12 m8 l8">
                          <a id="fp" href="#!">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="col m2 l2"></div>
                      </div>
                      <div class="row">
                        <div class="col m2 l2"></div>
                        <div class="col s12 m8 l8">
                          <a
                            id="btn_login"
                            href="#!"
                            class="waves-effect waves-red btn-large button-color-modal a-hov"
                            @click="login();"
                            style="width: 100%;"
                          >ENTRAR</a>
                        </div>
                        <div class="col m2 l2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  var url = "http://skolable.us-west-2.elasticbeanstalk.com"; //production
  var environment = "P"; //production
  export default {
    data() {
      return {
        loginUser: "",
        loginPass: ""
      };
    },
    mounted: function () {
      console.log("mounted login");
      var token = localStorage.getItem("token");
      if (token != null) {
        this.$router.push('/');
      } else {
        this.variable = true;
      }
    },
    methods: {
      keymonitor: function (event) {
        if (event.keyCode == 13) {
          this.login();
        }
      },
      login: function () {
        if (this.loginUser != "" && this.loginPass != "") {
          var body = {
            client_id: "12345678A",
            client_secret: "12345678A",
            password: this.loginPass,
            grant_type: "password",
            username: this.loginUser,
            gadgetType: "I"
          };
          body = $.param(body); // objeto body parseado al formato key=data&key2=data2...
          //var body="client_id=12345678A&client_secret=12345678A&password="+this.loginPass+"&awsToken="+awstoken+"&grant_type=password&username="+this.loginUser+"&gadgetType=I";
          //var json = JSON.stringify(body); // aqui tienes la lista de objetos en Json
          //var obj = JSON.parse(json);
          this.$http
            .post(url + "/login/webadmin", body, {
              headers: {
                Accept: "application/json",
                "Content-Type": "application/x-www-form-urlencoded",
                userType: "W",
                environment: environment,
                gadgetType: "I"
              }
            })
            .then(
              function (response) {
                localStorage.setItem("token", response.data.entity.accessToken);
                window.location.href = "principal.html";
              },
              function (error) {
                if (error.data.error_description != "") {
                  Materialize.toast(
                    "ALERTA! Usuario no encotrado",
                    4000,
                    "red lighten-2 rounded"
                  );
                }
              }
            );
        } else {
          Materialize.toast(
            "ALERTA! Usuario y/o password requeridos",
            4000,
            "red lighten-2 rounded"
          );
        }
      }
    }
  };
</script>

<style scoped>
  #container {
  	font-family: Roboto, sans-serif;
  }
  #fp {
  	font-size: 15px;
  }
  #c {
  	border-radius: 2px;
  }
</style>

<style url="https://fonts.googleapis.com/css?family=Raleway" scoped>
</style>
<style src="../../assets/css/animate.min.css" scoped>
</style>
<style src="../../assets/css/login.css" scoped>
</style>

